# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

__pycache__
models/*
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Nix
flake.lock
result

# Vite
.vite
.vite_cache

# OCR
tesseract-worker.js
tesseract-core*.wasm
tesseract-core*.js

# Runtime data
dataset/
