AZURE_AI_KEY=<--->
# rename actual file to .env-secret
# i am using azure ai foundry but realsitically any service that litellm can 
# proxy that has a multi-modal model that can somewhat follow instructions and
# is not excessively chatty should work